@import "../../mixin";
.shopping{
    padding: 0px 45px 30px 45px;
}

.checkout{
    margin-top: 25px;
    @include flexbox();
    &__col{
        width: calc(33.3% - 25px);
        margin-right: 25px;
    }
    &__title{
        padding: 10px;
        background-color: #958457;
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__content{
        padding: 10px;
        min-height: 580px;
        border: 1px solid #dddddd;
    }
    &__sub-title{
            font-size: 16px;
            margin-bottom: 5px;
            color: #958457;
    }
    &__order{
        @include flexbox();
        padding: 5px 0;
        border-bottom: 1px solid #eaeaea;
       
    }
    &__order-img{
        width: 60px;
        height: 60px;
        margin-right: 10px;
        overflow: hidden;
        &>img{
            border-radius: 0;
        }
    }
    &__order-content{
        flex: 1;
    }
    &__order-name{
       height: 36px;
       @include dotText();
    }
    &__order-bottom{
        @include flexbox(center, space-between);
        margin-top: 5px;
    }
    &__total-price{
        @include flexbox(center, space-between);
        font-weight: 600;
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea;
    }
    &__total-payment{
        @include flexbox(center, space-between);
        font-weight: bold;
        font-size: 16px;
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea;
        &>span:last-child{
            color: #958457;
        }
    }
    &__btn{
        text-align: right;
        margin-top: 15px;
    }
}


